<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" />
    <title>Fridge Leftovers</title>
  </head>

  <body>
    <header>
      <h1>🧊 FridgeBlog</h1>
    </header>
    <main></main>
  </body>
</html>
